<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="card rounded-0 shadow mt-3 mb-3">
    <div class="card-body">
      <div class="container">
        <h1>Job Details</h1>
        <p><strong>Title: </strong> <%= @job.title %></p>
        <p><strong>experience: </strong><%= @job.experience %></p>
        <p><strong>salary: </strong><%= @job.salary %></p>
        <p><strong>location: </strong><%= @job.location %></p>
        <p><strong>Skills: </strong><%= @job.skills %></p>
        <p><strong>Description: </strong><%= @job.description %></p>
      </div>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto mb-4">
    <%=link_to "Back", root_path ,class:"btn btn-primary"%>
</div>
  </div>
</div>
