<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Noukri-Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if current_user.try(:admin?) %>
          <li class="nav-item"><a class="nav-link active" href="<%= jobs_path %>"><i class="bi bi-house-door"></i></a></li>
          <li class="nav-item"><a class="nav-link active" href="<%= requests_path %>">Applicantions</a></li>
          <li class="nav-item"><a class="nav-link active" href=<%= new_job_path %>>Post A Job</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= button_to "Log Out", destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
              <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Edit profile</a></li>
            </ul>
          </li>
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="<%= root_path %>"><i class="bi bi-house-door"></i></a>
            </li>
            <li class="nav-item"><a class="nav-link active" href="<%= requests_path %>">Applicantions</a></li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= button_to "Log Out", destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
              <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Edit profile action</a></li>
            </ul>
        </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link active" href="<%= new_user_session_path %>">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="<%= new_user_registration_path %>">Signup</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>