<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Applicants registration form</h3>

                <%= form_with model: [@job, @request] do |form| %>
                  <%= render 'shared/error' %>
                  <div class="row">
                    <div id="form3Example1n" class="col-md-6 mb-4">
                      <div class="form-outline">
                        <%= form.label :name %>
                        <%= form.text_field :name, class: "form-control form-control-lg" %>
                      </div>
                    </div>
                    <div id="form3Example1n" class="col-md-6 mb-4">
                      <div class="form-outline">
                        <%= form.label :email %>
                        <%= form.text_field :email, class: "form-control form-control-lg" %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div id="form3Example1n" class="col-md-6 mb-4">
                      <div class="form-outline">
                        <%= form.label :contact_number %>
                        <%= form.text_field :contact_number, class: "form-control" %>
                      </div>
                    </div>
                    <div id="form3Example1n" class="col-md-6 mb-4">
                      <div class="form-outline">
                        <%= form.label :address %>
                        <%= form.text_field :address, class: "form-control" %>
                      </div>
                    </div>
                  </div>

                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                    <h6 class="mb-0 me-4">Gender: </h6>

                    <div id="femaleGender" class="form-check form-check-inline mb-0 me-4">
                      <%= form.label :gender, "Male", value:  "male" %>
                      <%= form.radio_button :gender, "male" %>
                    </div>

                    <div id="maleGender" class="form-check form-check-inline mb-0 me-4">
                      <%= form.label :gender, "Female", value:  "female" %>
                      <%= form.radio_button :gender, "female" %>
                    </div>

                    <div id="otherGender" class="form-check form-check-inline mb-0">
                      <%= form.label :gender, "Other", value:  "other" %>
                      <%= form.radio_button :gender, "other" %>
                    </div>

                  </div>

                  <div class="row">
                    <div id="form3Example1n" class="col-md-6 mb-4">
                      <div class="form-outline">
                        <%= form.label :currentsalary %>
                        <%= form.text_field :currentsalary, class: "form-control" %>
                      </div>
                    </div>
                    <div id="form3Example1n" class="col-md-6 mb-4">
                      <div class="form-outline">
                        <%= form.label :date_of_birth %>
                        <%= form.date_field :date_of_birth, class: "form-control" %>
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :position %>
                    <%= form.text_field :position, class: "form-control" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :yop %>
                    <%= form.date_field :yop, class: "form-control" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :resume %>
                    <%= form.file_field :resume, class: "form-control" %>
                  </div>

                  <div class="d-flex justify-content-end pt-3">
                    <%= form.submit "Apply", class: "btn btn-primary btn-lg w-100 mt-4" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>